body {
    background: #FAEEFA;
    height:auto;
    width: auto;
    overflow: scroll;
}

header {
    position: relative;
    height: 100%;
}

header {
    background: #ac35ac91;
    height: 200px; 
    width: 100%;
    margin: 0px;
    box-shadow:  
    0px 0px 8px black,
    0px 0px 8px#ac35acad,
    0px 0px 8px #ac35acad,
    0px 0px 8px #ac35acad;  
}

.titulo {
    color:  #FAEEFA;
    text-align: left;
    margin-left: 30px;
    position: relative;
    top: 40px;
    font-size: 30px;
}

#tit {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    text-shadow: 
    0px 0px 8px black,
    0px 0px 8px#ac35acad,
    0px 0px 8px #ac35acad,
    0px 0px 8px #ac35acad;  
   
}

#tit-2 {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #FAEEFA;
    text-shadow: 20px, 20px, 20px, purple;
    top: 50px;
}

.bolha {
    margin: 0px;
    font-family: 'Space Grotesk', sans-serif;
    padding: 40px;
    width: 350px;
    height: 350px;
    position: relative;
    left: 50px;
    border: solid 3px #FFFFFF;
    border-radius: 1000px;
    background: white;
    transition: 1s all;
    top: 60px;
}

.bolha:hover {
    transform: scale(1.1);
    box-shadow:  
    0px 2px 8px black,
    0px 10px 10px#ac35acad;
}

.texto {
    position: relative;
    top: 70px;
    text-align: center;
    color: purple;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 25px;
}

strong {
    font-weight: bolder;
}


#gif {
    width: 360px;
    height: 360px;
    position: relative;
    left: 850px;
    bottom: 300px;
    transition: 1s all;
}

#gif:hover {
    transform: scale(1.1);
}

nav {
    position: relative;
    position: absolute;
    top: 50px;
    right: 40px;
    bottom: 0px;
    margin: 20px, 10px, 20px, 20px;
    text-align: right;
    height: 40px;
}

nav li{
    display: inline ;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-style: 22px;
    text-decoration: none;
    font-size: 20px; 
    color:  #FAEEFA; 
    transition: 0.3s all;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

nav a:hover {
    font-size: 22px;
    transform: scale(1.2);
    text-decoration: underline; 
    text-shadow:
       0px 0px 8px black,
       0px 0px 8px#ac35acad,
       0px 0px 8px #ac35acad,
       0px 0px 8px #ac35acad;  
}

main {
   width: 100%;
   height: 500px;
   
}


/*pagina sobre*/
#eu {
    width: 95%;
    height: 95%;
    position: absolute;
    left: 10px;
    border-radius: 1000px;
    transition: 1s all;
    top: 10px;
}

.sobre {   
    height: 500px;
    width: 550px;
    position: relative;
    left: 600px;
    bottom: 400px;
    background:white ;
}

.quem-sou {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    color: #ac35acda;
    text-align: left;
    padding-top: 20px;
    margin-left: 30px;
}

.sobre p {
    text-align: left;
    color: #ac35acda;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    padding: 10px;
    margin: 20px;
    font-family: 'Space Grotesk', sans-serif;
}

footer {
    text-align: center;
    background: purple;
    margin: 0px;
    position: relative;
    top: 100px;
   height: 200px;

}

.rodape {
    width: 60px;
    height: 60px;
    position: relative;
    top: 50px;
}

.rodape-texto {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: relative;
    top: 60px;
    font-size: 20px;
}

/*Responsivo*/
